* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f0f0f0;
}

.cv {
    display: flex;
    width: 800px;
    margin: 30px auto;
    background: white;
}

/* BÊN TRÁI */
.left {
    width: 35%;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.left h1 {
    margin-bottom: 10px;
}

.left h2 {
    margin-top: 20px;
    border-bottom: 1px solid white;
}

.left ul {
    padding-left: 15px;
}

/* BÊN PHẢI */
.right {
    width: 65%;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #3498db;
    margin-bottom: 10px;
}
